---
import Base from "./base.astro";

const {pages} = Astro.props;
let {sidebar = true} = Astro.props.content;
let {headers} = Astro.props.content.astro;
sidebar = sidebar && ((headers.length > 0) || pages);
---

<Base content={Astro.props.content}>
	<div class="w-full flex flex-col md:flex-row justify-center">
		{sidebar && <div class="sidebar">
			{pages && <p class="px-2 pt-2 text-sm">Pages</p>
			<hr>
			{pages.map(page => (
				<a class={"sidebar-item" + ((page.url + "/" == Astro.canonicalURL.pathname) ? " sidebar-item-active" : "")} href={page.url}>{page.frontmatter.title}</a>
			))}}

			{(headers.length > 0) && <p class="px-2 pt-2 text-sm">Contents</p>
			<hr>
			{headers.map(header => (
				<a class={"sidebar-item pl-" + (header.depth + 1)} href={"#" + header.slug}>{header.text}</a>
			))}}
		</div>}

		<main class="content w-full max-w-screen-xl px-5 md:pl-5 md:pr-12 md:text-justify">
			<h1 class="title">{Astro.props.content.title}</h1>
			<slot />
		</main>
	</div>
</Base>
